.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    .left-slide {
        position: absolute;
        height: 100%;
        width:  35%;
        top: 0;
        left: 0;
        transition: transform .5s ease-in-out;

        div {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            color: #fff;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 40px;
                margin-bottom: 10px;
                margin-top: -30px;
            }
        }
    }

    .right-slide {
        position: absolute;
        height: 100%;
        top: 0;
        left: 35%;
        width: 65%;
        transition: transform .5s ease-in-out;

        div {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 100%;
            width: 100%;
        }
    }

    .action-buttons {
        button {
            position: absolute;
            top: 50%;
            left: 35%;
            z-index: 100;
            background: #fff;
            border: none;
            color: #aaa;
            cursor: pointer;
            padding: 15px;
            font-size: 16px;

            &:hover {
                color: #222;
            }

            &:focus {
                outline: none;
            }
        }

        .button-down {
            transform: translateX(-100%);
            border-top-left-radius: 5px;
        }

        .button-up {
            transform: translateY(-100%);
            border-bottom-right-radius: 5px;
        }
    }
}

